
@{
    ViewBag.Title = "Craveats Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Craveats Messages</h2>

<div class="jumbotron">
    <h1>Messages</h1>
    <p class="lead">Review your interaction with us</p>
    @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Coming soon</h2>
        @*<p>
            Something went wrong. But don't worry as our developers are working hard to restore this. 
            Please check back in moments later.
        </p>*@
        @*<p><a class="btn btn-default" href="javascript:void(0);">Sample Button &raquo;</a></p>*@
    </div>
</div>