
@{
    ViewBag.Title = "HoldingProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HoldingProfile</h2>


<address>
    Test Way<br />
    Woodland, ABC MA1 12S<br />
    <abbr title="Phone">P:</abbr>
    +1 425 666 0100
</address>

<address>
    <strong>Enquiry:</strong>   <a href="mailto:craveats@gmail.com">craveats@gmail.com</a><br />
</address>