<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Generic.Obfuscation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Generic.Obfuscation.Properties.Settings>
            <setting name="TDESKeyHex" serializeAs="String">
                <value>123A 456B 789C 012D 345E 678F 901A 234B C567 D890 E123 F456</value>
            </setting>
            <setting name="TDESIVHex" serializeAs="String">
                <value>345E 87F6 9A01 B423</value>
            </setting>
        </Generic.Obfuscation.Properties.Settings>
    </applicationSettings>
</configuration>