
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";
}

<h4>Resource not found</h4>

<div class="row">
    <div class="col-md-12 center-block">
        <p>The resource you are looking for doesn't exist or is temporarily unavailable. Please review the following URL and make sure that it is spelled correctly.</p>
    </div>
</div>
