
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Success</h2>

<h4>Your order was successfully placed. Thank you! </h4>

@Html.ActionLink("Continue shopping...", "LocalMenuSearch", "Home")


